* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #f5f6fa;
	color: #212529;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

i.fa-brands {
	font-size: 32px;
	line-height: 28px;
}
